<h3>以下の内容で、登録する</h3>

<%= form_for(@mypowner) do |f| %>
  <!-- `f.hidden_field`を使用して、リクエストパラメータに値を設定できるようにしています。 -->
  <%= f.hidden_field :owner_name %>
  <%= f.hidden_field :owner_address %>
  <%= f.hidden_field :owner_bank_account %>
  <!-- @blog.titleと@blog.contentとすることで、表示用の値を画面に出力しています。 -->
  <p>氏名:<%= @mypowner.owner_name %></p>
  <p>住所:<%= @mypowner.owner_address %></p>
  <p>口座番号:<%= @mypowner.owner_bank_account %></p>
  <%= f.submit "登録する", class: 'btn btn-primary btn-sm' %>
<% end %>

<%= form_for(@mypowner, url: new_mypowner_path, method: 'get') do |f| %>
  <%= f.hidden_field :owner_name %>
  <%= f.hidden_field :owner_address %>
  <%= f.hidden_field :owner_bank_account %>
  <%=  f.submit "もどる", name: 'back' , class: 'btn btn-primary btn-sm' %>
<% end %>
