<header>

</header>

<body>
  <section class="function container-fluid">
    <div class="row">
      <div class="col-xs-offset-2 col-xs-8 col-xs-offset-2 col-sm-offset-3 col-sm-6 col-sm-offset-3">
        <br><br><br><br>
        <h1>レンタル店舗検索アプリ</h1><br>
      </div>
        <div class="col-xs-offset-2 col-xs-8 col-xs-offset-2 col-sm-offset-3 col-sm-6 col-sm-offset-3">
          <% if user_signed_in? %>
            <%= link_to "借りたい人のマイページへ", mypusers_path, class: 'btn btn-primary btn-lg btn-block'%><br><br><br>
            <%= link_to "ログアウト",  destroy_user_session_path, method: :delete, class: 'btn btn-primary btn-lg btn-block'%>
          <% elsif !owner_signed_in? %>
            <%= link_to "店舗やスペースを借りたい人ログイン",  new_user_session_path,  class: 'btn btn-primary btn-lg btn-block'%><br><br><br>
          <% end %>
        </div>
        <div class="col-xs-offset-2 col-xs-8 col-xs-offset-2 col-sm-offset-3 col-sm-6 col-sm-offset-3">
          <% if owner_signed_in? %>
            <%= link_to "貸したい人のマイページへ", mypowners_path, class: 'btn btn-danger btn-lg btn-block'%><br><br><br>
            <%= link_to "ログアウト",  destroy_owner_session_path, method: :delete, class: 'btn btn-danger btn-lg btn-block'%>
          <% elsif !user_signed_in? %>
            <%= link_to "店舗やスペースを貸したい人ログイン",  new_owner_session_path,  class: 'btn btn-danger btn-lg btn-block'%>
          <% end %>
        </div>
      </div>
  </section>
</body>

<footer>

</footer>
