<ul>
  <% comments.each do |comment| %>
    <% unless comment.id.nil? %>
      <li>
        <% if user_signed_in? %>
        「<%= comment.store_info %>」<%= Mypuser.find_by(user_id:current_user.id).user_name %>さんが質問しました
          <% if current_user.id == comment.user.id %>
            <p class="right">
              <%= link_to '', edit_event_comment_path(event, comment), class: "fa fa-pencil-square-o fa-lg" %>
              <%= link_to '', event_comment_path(event, comment), class: "fa fa-trash-o fa-lg", method: :delete, remote: true, data: { confirm: '本当に削除していいですか？' } %>
            </p>
          <% end %>
        <% elsif owner_signed_in?%>
          <% if current_owner.id == comment.owner.id %>
            <p class="right">
              <%= link_to '', edit_event_comment_path(event, comment), class: "fa fa-pencil-square-o fa-lg" %>
              <%= link_to '', event_comment_path(event, comment), class: "fa fa-trash-o fa-lg", method: :delete, remote: true, data: { confirm: '本当に削除していいですか？' } %>
            </p>
            <% end %>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
