<h1>物件詳細情報と申込み欄</h1>
<section class="function container-fluid">
    <div class="row">
      <div class="col-xs-offset-2 col-xs-8 col-xs-offset-2 col-sm-offset-1 col-sm-10 col-sm-offset-1">
        <% if user_signed_in? %>
          <div class="panel panel-default">
            <div class="panel-heading">
              店舗詳細：<%= @event.store_info %>
              <%= link_to "物件申込み",  apply_store_mypuser_path(event_id: @event.id), class: 'btn btn-sm btn btn-primary' %>
            </div>

            <div class="panel-body">
              店舗住所：<%= @event.store_address %><br>
              店舗画像<%= image_tag(@event.image) %>
            </div>

            <div class="panel-footer">
              店舗備考：<%= @event.store_info_sub %>
              オーナー様番号：<%= @event.owner_id %>

            </div>
          </div>
      <% end %>
      <% if owner_signed_in? %>
        申込みはユーザ様のみです
      <% end %>
    </div>
  </div>
</section>
