<h1>以下の内容で、登録する。</h1>
<br>
<section class="function container-fluid">
  <div class="row">
    <div class="col-xs-offset-2 col-xs-8 col-xs-offset-2 col-sm-offset-1 col-sm-10 col-sm-offset-1">
        <%= form_for(@event) do |f| %>
          <%= f.hidden_field :store_address %>
          <%= f.hidden_field :store_info %>
          <%= f.hidden_field :image %>
          <%= f.hidden_field :store_info_sub %>

          <div class="panel panel-default">
            <div class="panel-heading">
              物件住所：<%= @event.store_address %>
            </div>

            <div class="panel-body">
              物件紹介<br><%= @event.store_info %><br><br>
              物件写真<br><%= @event.image %>
            </div>

            <div class="panel-footer">
              物件備考<br><%= @event.store_info_sub %>
            </div>

          </div>
          <%= f.submit "登録する", class: 'btn btn-info btn-block' %>
          <br><br>
        <% end %>

        <%= form_for(@event, url: new_event_path, method: 'get') do |f| %>
          <%= f.hidden_field :store_address %>
          <%= f.hidden_field :store_info %>
          <%= f.hidden_field :image %>
          <%= f.hidden_field :store_info_sub %>
          <%= f.submit "前の画面に戻る", name: 'back' , class: 'btn btn-info btn-block' %>
        <% end %>
      </div>
  </div>
</section>
