<h1>登録物件一覧</h1>
<% if owner_signed_in? %>
  <%= link_to "店舗またはスペースを登録する", new_event_path, class: 'btn btn-info btn-block' %>
<% end %>

<br><br>
<section class="function container-fluid">
    <div class="row">
      <div class="col-xs-offset-2 col-xs-8 col-xs-offset-2 col-sm-offset-1 col-sm-10 col-sm-offset-1">
        <% @events.each do |event| %>

          <div class="panel panel-default">
            <div class="panel-heading">
              <%= link_to "編集", edit_event_path(event.id), class: 'btn btn-info btn-sm btn-primary' %>
              <%= link_to "削除", event_path(event.id), method: :delete, data: { confirm: '本当に削除していいですか？'}, class: 'btn btn-default btn-sm btn btn-danger' %><br>
              物件住所：<%= event.store_address %>
            </div>

            <div class="panel-body">
              物件紹介<br><%= event.store_info %><br><br>
              物件写真<br><%= event.image %>
            </div>

            <div class="panel-footer">
              物件備考<br><%= event.store_info_sub %>
            </div>

          </div>
        <% end %>
      </div>
    </div>
</section>
