<h3>以下の内容で、登録する</h3>

<%= form_for(@mypuser) do |f| %>
  <!-- `f.hidden_field`を使用して、リクエストパラメータに値を設定できるようにしています。 -->
  <%= f.hidden_field :user_name %>
  <%= f.hidden_field :user_address %>
  <%= f.hidden_field :user_bank_account %>
  <!-- @blog.titleと@blog.contentとすることで、表示用の値を画面に出力しています。 -->
  <p>氏名:<%= @mypuser.user_name %></p>
  <p>住所:<%= @mypuser.user_address %></p>
  <p>口座番号:<%= @mypuser.user_bank_account %></p>
  <%= f.submit "登録する", class: 'btn btn-primary btn-sm' %>
<% end %>

<%= form_for(@mypuser, url: new_mypuser_path, method: 'get') do |f| %>
  <%= f.hidden_field :user_name %>
  <%= f.hidden_field :user_address %>
  <%= f.hidden_field :user_bank_account %>
  <%= link_to '戻る', :back, name: 'back', class: 'btn btn-primary btn-sm' %>
<% end %>
