<!DOCTYPE html>
<html>
<head>
  <title>Matchapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if user_signed_in? %>
    <span><%= link_to 'ホームへ', mypusers_path, class: 'btn btn-primary btn-sm' %></span>
    <span><%= link_to 'ログアウトへ', destroy_user_session_path, method: :delete, class: 'btn btn-primary btn-sm' %></span>
  <% elsif owner_signed_in?%>
    <span><%= link_to 'ホームへ', mypowners_path, class: 'btn btn-danger btn-sm' %></span>
    <span><%= link_to 'ログアウトへ', destroy_owner_session_path, method: :delete, class: 'btn btn-danger btn-sm' %></span>
  <% end %>
<%= yield %>

</body>
</html>
